/* App.css */
html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Allow vertical scrolling */
  height: 100%; /* Ensure the body takes up the full height */
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px; /* Set max width for the root element */
  margin: 0 auto; /* Center the content */
  padding: 2rem; /* Add padding around the content */
  text-align: center; /* Center text */
  overflow: visible; /* Ensure scrolling works */
}
